<form class="form-horizontal" id="ajax-cache-config" method="post"
	action="gethint.php">
	<fieldset>

		<!-- Form Name -->
		<legend>Configuração da Cache</legend>

		<!-- Appended Input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="address_size_bits">Endereço
				Físico Bits</label>
			<div class="col-md-8">
				<div class="input-group">
					<input id="address_size_bits" name="address_size_bits"
						class="form-control" placeholder="Exemplo: 32 bits"
						required="required" type="number" min="16" max="128"> <span
						class="input-group-addon">bits</span>
				</div>
				<p class="help-block">Aqui você determina quantos bits são
					necessários para representar o endereço da memória física. Você
					pode colocar entre 16 bits (2^16 bytes de endereçamento) e 128 bits
					(2^128 bytes de endereçamento disponíveis).</p>
			</div>
		</div>

		<!-- Appended Input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="offset_size_bits">Offset
				Bits</label>
			<div class="col-md-8">
				<div class="input-group">
					<input id="offset_size_bits" name="offset_size_bits"
						class="form-control" placeholder="Exemplo: 10 bits"
						required="required" type="number" min="2" max="13"> <span
						class="input-group-addon">bits</span>
				</div>
				<p class="help-block">Aqui você determina quantos bits são
					necessários para representar o offset de cada bloco da cache. Você
					só pode colocar entre 2 bits (4 bytes cada bloco) de offset e 13
					bits (8192 bytes cada bloco) de offset.</p>
			</div>
		</div>

		<!-- Appended Input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="index_size_bits">Índice
				Bits</label>
			<div class="col-md-8">
				<div class="input-group">
					<input id="index_size_bits" name="index_size_bits"
						class="form-control" placeholder="Exemplo: 13 bits"
						required="required" type="number" min="0" max="128"> <span
						class="input-group-addon">bits</span>
				</div>
				<p class="help-block">Aqui você determina quantos bits são
					necessários para representar a faixa de índices (conjuntos, ou
					linhas da cache, ou entradas da cache, no caso de Fully-Associative
					não tem índices por isso existe 0 de cota inferior). Você só pode
					colocar entre 0 (fully-associative) e 128 bits (2^128 entradas de
					cache) como tamanho do campo de índice.</p>
			</div>
		</div>

		<!-- Appended Input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="tag_size_bits">Tag
				Bits</label>
			<div class="col-md-8">
				<div class="input-group">
					<input id="tag_size_bits" name="tag_size_bits" class="form-control"
						placeholder="Exemplo: 9 bits" required="required" type="number"
						min="8" max="120"> <span class="input-group-addon">bits</span>
				</div>
				<p class="help-block">Aqui você determina quantos bits são
					necessários para representar a tag. No mínimo 8 bits e no máximo
					120. Pois nessa aplicação você tem um mínimo de 8 bits de offset.
					Existem outros tipos de cache com tamanhos diferentes.</p>
			</div>
		</div>

		<!-- Appended Input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="way_size">Configuração
				n-way</label>
			<div class="col-md-8">
				<div class="input-group">
					<input id="way_size" name="way_size" class="form-control"
						placeholder="Exemplo: 3 way" required="required" type="number"
						min="1" max="128"> <span class="input-group-addon">ways</span>
				</div>
				<p class="help-block">Aqui você determina o número de ways,
					Diretamente Mapeada é 1-way, e aí tem 2-way, 3, 4, 5, ... até
					completamente associativa em que você deve colocar 0 em índice e
					colocar aqui a quantidade de ways. Completamente associativa tem 1
					conjunto, porém muitos tag+bloco no mesmo conjunto.</p>
			</div>
		</div>

		<!-- Select Basic -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="control_size_bits">Bits
				de Controle</label>
			<div class="col-md-8">
				<select id="control_size_bits" name="control_size_bits"
					class="form-control">
					<option value="0">Sem Controle</option>
					<option value="1">Bit de Validade</option>
					<option value="2">Bit de Validade, Write Buffer</option>
					<option value="3">Bit de Validade, Write Buffer e Write
						Throught</option>
				</select>
			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="submit_cache_form">Configuração</label>
			<div class="col-md-4">
				<button id="submit_cache_form" type="submit" class="btn btn-primary">Lançar</button>
			</div>
		</div>
	</fieldset>
</form>
